In [1]:
import pandas as pd
import glob

In [2]:
def read_partials(key, **kargs):
    all_files = glob.glob(key)
    li = []
    for filename in all_files:
        df = pd.read_csv(filename, **kargs)
        li.append(df)

    return pd.concat(li, axis=0, ignore_index=True)

# Reading Tablas

In [3]:
tablas = read_partials("tablas*.csv", delimiter=";")

In [4]:
tablas.head()

,environment,database,path,last_modified,year,month,day
0,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1
1,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1
2,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1
3,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200201120000,2021,2,1
4,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1

# Reading Columns

In [5]:
colunas = read_partials("colunas*.csv", delimiter=";")

In [6]:
colunas.head()

  environment              database   column  year  month  day
0  production  tb_raw_mydatabase_01  coluna1  2021      1    1
1  production  tb_raw_mydatabase_01  coluna2  2021      1    1
2  production  tb_raw_mydatabase_01  coluna3  2021      1    1
3  production  tb_raw_mydatabase_01  coluna4  2021      1    1
4  production  tb_raw_mydatabase_01  coluna5  2021      1    1

# Merging Files

In [7]:
tablas_cols = tablas.merge(colunas, left_on=['database', 'year', 'month', 'day'], right_on=['database', 'year', 'month', 'day'], suffixes=('_left', '_right'))

In [8]:
tablas_cols.head()

,environment_left,database,path,last_modified,year,month,day,environment_right,column
0,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna1
1,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna2
2,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna3
3,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna4
4,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna5

# Isolating data

In [9]:
last = 20200501120000

In [10]:
tablas_cols.dtypes

environment_left     object
database             object
path                 object
last_modified         int64
year                  int64
month                 int64
day                   int64
environment_right    object
column               object
dtype: object

In [165]:
tablas_atual = tablas_cols.loc[(tablas_cols['last_modified'] > last)]

In [166]:
tablas_atual.head(100)

,environment_left,database,path,last_modified,year,month,day,environment_right,column
5,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna1
6,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna2
7,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna3
8,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna4
9,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna5
10,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna1
11,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna2
12,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna3
13,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna4
14,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna5
20,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna1
21,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna2
22,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna3
23,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna4
24,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna5
25,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna1
26,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna2
27,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna3
28,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna4
29,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna5
35,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200301120000,2021,3,1,production,coluna1
36,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200301120000,2021,3,1,production,coluna2
37,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200301120000,2021,3,1,production,coluna3
38,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200301120000,2021,3,1,production,coluna4
39,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200301120000,2021,3,1,production,coluna5
40,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200301120000,2021,3,1,production,coluna1
41,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200301120000,2021,3,1,production,coluna2
42,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200301120000,2021,3,1,production,coluna3
43,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200301120000,2021,3,1,production,coluna4
44,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200301120000,2021,3,1,production,coluna5
50,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200401120000,2021,4,1,production,coluna1
51,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200401120000,2021,4,1,production,coluna2
52,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200401120000,2021,4,1,production,coluna3
53,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200401120000,2021,4,1,production,coluna4
54,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200401120000,2021,4,1,production,coluna5
55,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200401120000,2021,4,1,production,coluna1
56,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200401120000,2021,4,1,production,coluna2
57,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200401120000,2021,4,1,production,coluna3
58,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200401120000,2021,4,1,production,coluna4
59,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200401120000,2021,4,1,production,coluna5
65,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200501120000,2021,5,1,production,coluna1
66,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200501120000,2021,5,1,production,coluna2
67,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200501120000,2021,5,1,production,coluna3
68,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200501120000,2021,5,1,production,coluna4
69,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200501120000,2021,5,1,production,coluna5
70,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna1
71,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna2
72,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna3
73,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna4
74,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna5
80,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna1
81,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna2
82,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna3
83,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna4
84,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna5
85,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna1
86,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna2
87,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna3
88,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna4
89,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna5

# Reset Index

# Saving JSON

In [33]:
tablas_atual = tablas_atual.reset_index(drop=True)
result = tablas_atual.to_json()
count  = len(tablas_atual.index)

In [34]:
result

'{"environment_left":{"0":"production","1":"production","2":"production","3":"production","4":"production","5":"production","6":"production","7":"production","8":"production","9":"production","10":"production","11":"production","12":"production","13":"production","14":"production"},"database":{"0":"tb_raw_mydatabase_01","1":"tb_raw_mydatabase_01","2":"tb_raw_mydatabase_01","3":"tb_raw_mydatabase_01","4":"tb_raw_mydatabase_01","5":"tb_raw_mydatabase_02","6":"tb_raw_mydatabase_02","7":"tb_raw_mydatabase_02","8":"tb_raw_mydatabase_02","9":"tb_raw_mydatabase_02","10":"tb_raw_mydatabase_03","11":"tb_raw_mydatabase_03","12":"tb_raw_mydatabase_03","13":"tb_raw_mydatabase_03","14":"tb_raw_mydatabase_03"},"path":{"0":"s3:\\/tb_raw_mydatabase_01","1":"s3:\\/tb_raw_mydatabase_01","2":"s3:\\/tb_raw_mydatabase_01","3":"s3:\\/tb_raw_mydatabase_01","4":"s3:\\/tb_raw_mydatabase_01","5":"s3:\\/tb_raw_mydatabase_02","6":"s3:\\/tb_raw_mydatabase_02","7":"s3:\\/tb_raw_mydatabase_02","8":"s3:\\/tb_raw_mydatabase_02","9":"s3:\\/tb_raw_mydatabase_02","10":"s3:\\/tb_raw_mydatabase_03","11":"s3:\\/tb_raw_mydatabase_03","12":"s3:\\/tb_raw_mydatabase_03","13":"s3:\\/tb_raw_mydatabase_03","14":"s3:\\/tb_raw_mydatabase_03"},"last_modified":{"0":20200601120000,"1":20200601120000,"2":20200601120000,"3":20200601120000,"4":20200601120000,"5":20200601120000,"6":20200601120000,"7":20200601120000,"8":20200601120000,"9":20200601120000,"10":20200601120000,"11":20200601120000,"12":20200601120000,"13":20200601120000,"14":20200601120000},"year":{"0":2021,"1":2021,"2":2021,"3":2021,"4":2021,"5":2021,"6":2021,"7":2021,"8":2021,"9":2021,"10":2021,"11":2021,"12":2021,"13":2021,"14":2021},"month":{"0":6,"1":6,"2":6,"3":6,"4":6,"5":6,"6":6,"7":6,"8":6,"9":6,"10":6,"11":6,"12":6,"13":6,"14":6},"day":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":1,"6":1,"7":1,"8":1,"9":1,"10":1,"11":1,"12":1,"13":1,"14":1},"environment_right":{"0":"production","1":"production","2":"production","3":"production","4":"production","5":"production","6":"production","7":"production","8":"production","9":"production","10":"production","11":"production","12":"production","13":"production","14":"production"},"column":{"0":"coluna1","1":"coluna2","2":"coluna3","3":"coluna4","4":"coluna5","5":"coluna1","6":"coluna2","7":"coluna3","8":"coluna4","9":"coluna5","10":"coluna1","11":"coluna2","12":"coluna3","13":"coluna4","14":"coluna5"}}'

# Reading JSON

In [35]:
import json

In [36]:
tb = json.loads(result)

In [37]:
tb.keys()

dict_keys(['environment_left', 'database', 'path', 'last_modified', 'year', 'month', 'day', 'environment_right', 'column'])

In [38]:
tb

{'environment_left': {'0': 'production',
  '1': 'production',
  '2': 'production',
  '3': 'production',
  '4': 'production',
  '5': 'production',
  '6': 'production',
  '7': 'production',
  '8': 'production',
  '9': 'production',
  '10': 'production',
  '11': 'production',
  '12': 'production',
  '13': 'production',
  '14': 'production'},
 'database': {'0': 'tb_raw_mydatabase_01',
  '1': 'tb_raw_mydatabase_01',
  '2': 'tb_raw_mydatabase_01',
  '3': 'tb_raw_mydatabase_01',
  '4': 'tb_raw_mydatabase_01',
  '5': 'tb_raw_mydatabase_02',
  '6': 'tb_raw_mydatabase_02',
  '7': 'tb_raw_mydatabase_02',
  '8': 'tb_raw_mydatabase_02',
  '9': 'tb_raw_mydatabase_02',
  '10': 'tb_raw_mydatabase_03',
  '11': 'tb_raw_mydatabase_03',
  '12': 'tb_raw_mydatabase_03',
  '13': 'tb_raw_mydatabase_03',
  '14': 'tb_raw_mydatabase_03'},
 'path': {'0': 's3:/tb_raw_mydatabase_01',
  '1': 's3:/tb_raw_mydatabase_01',
  '2': 's3:/tb_raw_mydatabase_01',
  '3': 's3:/tb_raw_mydatabase_01',
  '4': 's3:/tb_raw_mydatabase_01',
  '5': 's3:/tb_raw_mydatabase_02',
  '6': 's3:/tb_raw_mydatabase_02',
  '7': 's3:/tb_raw_mydatabase_02',
  '8': 's3:/tb_raw_mydatabase_02',
  '9': 's3:/tb_raw_mydatabase_02',
  '10': 's3:/tb_raw_mydatabase_03',
  '11': 's3:/tb_raw_mydatabase_03',
  '12': 's3:/tb_raw_mydatabase_03',
  '13': 's3:/tb_raw_mydatabase_03',
  '14': 's3:/tb_raw_mydatabase_03'},
 'last_modified': {'0': 20200601120000,
  '1': 20200601120000,
  '2': 20200601120000,
  '3': 20200601120000,
  '4': 20200601120000,
  '5': 20200601120000,
  '6': 20200601120000,
  '7': 20200601120000,
  '8': 20200601120000,
  '9': 20200601120000,
  '10': 20200601120000,
  '11': 20200601120000,
  '12': 20200601120000,
  '13': 20200601120000,
  '14': 20200601120000},
 'year': {'0': 2021,
  '1': 2021,
  '2': 2021,
  '3': 2021,
  '4': 2021,
  '5': 2021,
  '6': 2021,
  '7': 2021,
  '8': 2021,
  '9': 2021,
  '10': 2021,
  '11': 2021,
  '12': 2021,
  '13': 2021,
  '14': 2021},
 'month': {'0': 6,
  '1': 6,
  '2': 6,
  '3': 6,
  '4': 6,
  '5': 6,
  '6': 6,
  '7': 6,
  '8': 6,
  '9': 6,
  '10': 6,
  '11': 6,
  '12': 6,
  '13': 6,
  '14': 6},
 'day': {'0': 1,
  '1': 1,
  '2': 1,
  '3': 1,
  '4': 1,
  '5': 1,
  '6': 1,
  '7': 1,
  '8': 1,
  '9': 1,
  '10': 1,
  '11': 1,
  '12': 1,
  '13': 1,
  '14': 1},
 'environment_right': {'0': 'production',
  '1': 'production',
  '2': 'production',
  '3': 'production',
  '4': 'production',
  '5': 'production',
  '6': 'production',
  '7': 'production',
  '8': 'production',
  '9': 'production',
  '10': 'production',
  '11': 'production',
  '12': 'production',
  '13': 'production',
  '14': 'production'},
 'column': {'0': 'coluna1',
  '1': 'coluna2',
  '2': 'coluna3',
  '3': 'coluna4',
  '4': 'coluna5',
  '5': 'coluna1',
  '6': 'coluna2',
  '7': 'coluna3',
  '8': 'coluna4',
  '9': 'coluna5',
  '10': 'coluna1',
  '11': 'coluna2',
  '12': 'coluna3',
  '13': 'coluna4',
  '14': 'coluna5'}}

## Lendo as tabelas existentes no JSON

In [39]:
databases   = {}

for i in range(0, count):
    if tb['database'][f'{i}'] not in databases.keys():
        databases[tb['database'][f'{i}']] = {}


print(databases)

{'tb_raw_mydatabase_01': {}, 'tb_raw_mydatabase_02': {}, 'tb_raw_mydatabase_03': {}}

## Corrigindo formato do JSON e agrupando colunas

In [40]:
for i in range(0, count):
    databases[tb['database'][f'{i}']]['path'] = tb['path'][f'{i}']
    databases[tb['database'][f'{i}']]['last_modified'] = tb['last_modified'][f'{i}']
    databases[tb['database'][f'{i}']]['year'] = tb['year'][f'{i}']
    databases[tb['database'][f'{i}']]['month'] = tb['month'][f'{i}']
    databases[tb['database'][f'{i}']]['day'] = tb['day'][f'{i}']
    
    if 'columns' not in databases[tb['database'][f'{i}']].keys():
        databases[tb['database'][f'{i}']]['columns']  = []
    
    databases[tb['database'][f'{i}']]['columns'].append({
        "id": tb['column'][f'{i}'],
        "type": "text",
        "info": {
            "label": tb['column'][f'{i}'],
            "notes": tb['column'][f'{i}']
        }
    })
    

databases['tb_raw_mydatabase_01']

{'path': 's3:/tb_raw_mydatabase_01',
 'last_modified': 20200601120000,
 'year': 2021,
 'month': 6,
 'day': 1,
 'columns': [{'id': 'coluna1',
   'type': 'text',
   'info': {'label': 'coluna1', 'notes': 'coluna1'}},
  {'id': 'coluna2',
   'type': 'text',
   'info': {'label': 'coluna2', 'notes': 'coluna2'}},
  {'id': 'coluna3',
   'type': 'text',
   'info': {'label': 'coluna3', 'notes': 'coluna3'}},
  {'id': 'coluna4',
   'type': 'text',
   'info': {'label': 'coluna4', 'notes': 'coluna4'}},
  {'id': 'coluna5',
   'type': 'text',
   'info': {'label': 'coluna5', 'notes': 'coluna5'}}]}

# Motor

In [41]:
import http.client

In [42]:
import http.client

connection = http.client.HTTPConnection('18.219.144.92', 80, timeout=10)
print(connection)

<http.client.HTTPConnection object at 0x0000023D67ADDC18>

## Validando a conexao

In [43]:
import http.client

AUTHORIZATION="0090ee76-cc91-4956-ab94-616b0ddaa1c9"
SERVER="18.219.144.92"

conn = http.client.HTTPConnection(SERVER)

### Package

In [54]:
payload = json.dumps({
  "id": "tb_raw_mydatabase_03"
})

headers = {
    'Authorization': AUTHORIZATION,
    'Content-Type': 'application/json'
}

conn.request("POST", "/api/3/action/package_show", payload, headers)
res = conn.getresponse()
data = res.read().decode("utf-8")
print(data)

{"help": "http://18.219.144.92/api/3/action/help_show?name=package_show", "success": true, "result": {"author": "dodmunl", "author_email": "dodmunl@teste.com", "creator_user_id": "3541244f-6c60-497d-84ba-0aba791450e4", "id": "e5f5a43a-d0b7-42f4-887c-2c87dfc2e7b8", "isopen": false, "license_id": null, "license_title": null, "maintainer": null, "maintainer_email": null, "metadata_created": "2021-04-30T12:49:21.705081", "metadata_modified": "2021-04-30T12:49:22.090919", "name": "tb_raw_mydatabase_03", "notes": "Base carregada por processo automatico", "num_resources": 1, "num_tags": 0, "organization": {"id": "6b35db05-c162-44aa-badf-0d0c35b08814", "name": "bank", "title": "Bank", "type": "organization", "description": "", "image_url": "", "created": "2021-04-30T00:30:38.243966", "is_organization": true, "approval_status": "approved", "state": "active"}, "owner_org": "6b35db05-c162-44aa-badf-0d0c35b08814", "private": true, "state": "active", "title": "tb_raw_mydatabase_03", "type": "dataset", "url": null, "version": null, "extras": [{"key": "badge", "value": "gold"}, {"key": "last_modified", "value": "20200601120000"}, {"key": "path", "value": "s3:/tb_raw_mydatabase_03"}], "resources": [{"cache_last_updated": null, "cache_url": null, "created": "2021-04-30T12:49:21.963260", "datastore_active": true, "description": "Dicionario de Dados", "format": "Redshift", "hash": "", "id": "aa63e7bd-1997-4938-9e0b-46a48c130840", "last_modified": null, "metadata_modified": "2021-04-30T12:49:22.097792", "mimetype": null, "mimetype_inner": null, "name": "tb_raw_mydatabase_03", "package_id": "e5f5a43a-d0b7-42f4-887c-2c87dfc2e7b8", "position": 0, "resource_type": null, "size": null, "state": "active", "url": "http://18.219.144.92/datastore/dump/aa63e7bd-1997-4938-9e0b-46a48c130840", "url_type": "datastore"}], "tags": [], "groups": [], "relationships_as_subject": [], "relationships_as_object": []}}

### Resource

In [45]:
payload = json.dumps({
  "resource_id": "9177cd00-7edb-4e56-8361-dea4a37edd65"
})
headers = {
  'Authorization': AUTHORIZATION,
  'Content-Type': 'application/json'
}
conn.request("POST", "/api/3/action/datastore_search", payload, headers)
res = conn.getresponse()
data = res.read().decode("utf-8")
print(data)

{"help": "http://18.219.144.92/api/3/action/help_show?name=datastore_search", "success": true, "result": {"include_total": true, "limit": 100, "records_format": "objects", "resource_id": "9177cd00-7edb-4e56-8361-dea4a37edd65", "total_estimation_threshold": null, "records": [], "fields": [{"id": "_id", "type": "int"}, {"id": "coluna1", "type": "text", "info": {"label": "coluna1", "notes": "coluna1"}}, {"id": "coluna2", "type": "text", "info": {"label": "coluna2", "notes": "coluna2"}}, {"id": "coluna3", "type": "text", "info": {"label": "coluna3", "notes": "coluna3"}}, {"id": "coluna4", "type": "text", "info": {"label": "coluna4", "notes": "coluna4"}}, {"id": "coluna5", "type": "text", "info": {"label": "coluna5", "notes": "coluna5"}}], "_links": {"start": "/api/3/action/datastore_search", "next": "/api/3/action/datastore_search?offset=100"}, "total": 0, "total_was_estimated": false}}

## Main

In [62]:
#
# Retorna o pacote
#
def get_package(package_id: str):
    payload = json.dumps({
      "id": package_id
    })

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }

    conn.request("POST", "/api/3/action/package_show", payload, headers)
    res = conn.getresponse()
    data = res.read().decode("utf-8")
    
    return json.loads(data)

In [63]:
#
# Retorna o recurso
#
def get_datastore(resource_id: str):
    payload = json.dumps({
      "resource_id": resource_id
    })

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }

    conn.request("POST", "/api/3/action/datastore_search", payload, headers)
    res = conn.getresponse()
    data = res.read().decode("utf-8")
    
    return json.loads(data)

In [47]:
#
# Cria um novo pacote
#
def set_package(data):
    payload = json.dumps(data)

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }

    conn.request("POST", "/api/3/action/package_create", payload, headers)
    res = conn.getresponse()
    data = res.read().decode("utf-8")
    
    return json.loads(data)

In [167]:
#
# Cria um novo datastore
#
def set_datastore(data):
    payload = json.dumps(data)

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }

    conn.request("POST", "/api/3/action/datastore_create", payload, headers)
    res = conn.getresponse()
    data = res.read().decode("utf-8")
    
    return json.loads(data)

In [155]:
def set_package_values(file, package, keys):
        
    package_custom_json = read_partials(file, delimiter=";")
    package_custom = json.loads(package_custom_json.to_json(orient="records"))[0]

    for key in keys:
        print(key)
        print(package[key])
        print(package_custom[key])
        package[key] = package_custom[key] if key in package_custom else package[key]

    return package

In [154]:

if os.path.isfile(f'package_{database}.csv'):
    print(database)

tb_raw_mydatabase_03

In [161]:
def create_new_package(database):
    package = {
        "name": database['name'],
        "title": database['name'],
        "owner_org": "bank",
        "notes": "Base carregada por processo automatico",
        "author": "dorotheu",
        "author_email": "dorotheu@teste.com",
        "private": True,
        "extras": [
            {
                "key": "badge",
                "value": "gold"
            },
            {
                "key": "last_modified",
                "value": database['last_modified']
            },
            {
                "key": "path",
                "value": database['path']
            }
        ]
    }
    print(package)

    import os.path
    name = database['name']
    if os.path.isfile(f'package_{name}.csv'):
        print("entrou aqui")
        package = set_package_values(f'package_{name}.csv', package, ['name', 'title', 'notes'])

    print(package)
    return set_package(package)

In [ ]:
def create_new_resource(database):
    datastore = {
        "resource": {
            "package_id": database,
            "name": database,
            "description": "Dicionario de Dados",
            "format": "Redshift"
        },
        "fields": databases[database]['columns'],
    }

    return set_datastore(datastore)

In [164]:
for database in databases:
    is_new_package   = False
    is_new_datastore = False
    
    # Procurar pacote no CKAN
    ckan_data = get_package(database)
    
    # Se nao houver nenhum pacote com o id especificado, entao os dados sao importados
    if "error" in ckan_data and ckan_data['error']['__type'] == "Not Found Error":
        
        databases[database]['name'] = database
        ckan_data = create_new_package(databases[database])
        is_new_package = True
    
    
    # Carregando recursos
    resource = {}
    for res in ckan_data['result']['resources']:
        if res['format'] == 'Redshift':
            resource = res
            
    
    # Se nao houver nenhum recurso do tipo Redshift no pacote, entao os dados sao importados
    if len(resource) == 0:
        
        is_new_datastore = True
    
    # Se for um novo pacote ou se o pacote ainda nao tiver recursos, os processos acima irao
    # incluir os dados e nenhuma outra modificacao deve ser feita.
    #if is_new_package or is_new_datastore:
    #    continue
        
    
    # Get resource
    #for resource in ckan_data['result']['resources']:
    #    resource['data'] = get_datastore(resource['id'])

{'name': 'tb_raw_mydatabase_03', 'title': 'tb_raw_mydatabase_03', 'owner_org': 'bank', 'notes': 'Base carregada por processo automatico', 'author': 'dorotheu', 'author_email': 'dorotheu@teste.com', 'private': True, 'extras': [{'key': 'badge', 'value': 'gold'}, {'key': 'last_modified', 'value': 20200601120000}, {'key': 'path', 'value': 's3:/tb_raw_mydatabase_03'}]}
entrou aqui
name
tb_raw_mydatabase_03
tb_raw_mydatabase_03
title
tb_raw_mydatabase_03
Minha tabela
notes
Base carregada por processo automatico
Essa e a minha tabela
{'name': 'tb_raw_mydatabase_03', 'title': 'Minha tabela', 'owner_org': 'bank', 'notes': 'Essa e a minha tabela', 'author': 'dorotheu', 'author_email': 'dorotheu@teste.com', 'private': True, 'extras': [{'key': 'badge', 'value': 'gold'}, {'key': 'last_modified', 'value': 20200601120000}, {'key': 'path', 'value': 's3:/tb_raw_mydatabase_03'}]}