In [25]:
import pandas as pd
import glob
import http.client
import json
import logging
from importlib import reload
reload(logging)

In [26]:

#logging.basicConfig(filename='app.log', filemode='w', format='%(asctime)s - %(name)s - %(levelname)s - %(message)s', level=logging.DEBUG)
logging.basicConfig(format='%(asctime)s - %(name)s - %(levelname)s - %(message)s', level=logging.DEBUG)

logging.warning('This is a debug message')

2021-04-30 18:10:20,756 - root - WARNING - This is a debug message

In [27]:
logging.warning('INICIO DO PROCESSAMENTO')

2021-04-30 18:10:25,133 - root - WARNING - INICIO DO PROCESSAMENTO

# Utils

In [362]:
AUTHORIZATION="0090ee76-cc91-4956-ab94-616b0ddaa1c9"
SERVER       ="18.219.144.92"

logging.info(f'Utilizando intancia CKAN registrada em {SERVER}')
logging.debug(f'Chave de acesso {AUTHORIZATION}')

conn = http.client.HTTPConnection(SERVER)
logging.debug(conn)

2021-04-30 20:51:19,667 - root - INFO - Utilizando intancia CKAN registrada em 18.219.144.92
2021-04-30 20:51:19,668 - root - DEBUG - Chave de acesso 0090ee76-cc91-4956-ab94-616b0ddaa1c9
2021-04-30 20:51:19,670 - root - DEBUG - <http.client.HTTPConnection object at 0x0000017D8C3E1940>

In [363]:
def send_request(rest_type, endpoint, payload, headers, count=3):
    try:
        logging.info(f"Request: type: {rest_type}, endpoint: {endpoint}")
        logging.debug(payload)
        logging.debug(headers)
        
        conn.request(rest_type, endpoint, payload, headers)
        res = conn.getresponse()
        
        data = res.read().decode("utf-8")
        logging.debug(f"response: {data}")

        return json.loads(data)
    except:
        if count == 0:
            logging.critical(f"Conexao ao endpoint {endpoint} indisponivel")
            raise
        
        logging.warning(f"Conexao ao endpoint {endpoint} com falha! Iniciando nova tentativa ({count} restantes)")
        count = count -1
        return send_request(rest_type, endpoint, payload, headers, count)

In [364]:
#
# Cria um novo pacote
#
def update_package(data, **kargs):
    payload = json.dumps(data)

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }
    
    return send_request("POST", "/api/3/action/package_update", payload, headers, **kargs)

In [365]:
#
# Retorna o pacote
#
def get_package(package_id: str, **kargs):
    payload = json.dumps({
      "id": package_id
    })

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }
    
    return send_request("POST", "/api/3/action/package_show", payload, headers, **kargs)

In [366]:
#
# Cria um novo pacote
#
def set_package(data, **kargs):
    payload = json.dumps(data)

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }
    
    return send_request("POST", "/api/3/action/package_create", payload, headers, **kargs)

In [367]:
#
# Retorna o pacote
#
def delete_datastore(resource_id: str, **kargs):
    payload = json.dumps({
      "resource_id": resource_id
    })

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }
    
    return send_request("POST", "/api/3/action/datastore_delete", payload, headers, **kargs)

In [368]:
#
# Retorna o pacote
#
def get_datastore(resource_id: str, **kargs):
    payload = json.dumps({
      "resource_id": resource_id
    })

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }
    
    return send_request("POST", "/api/3/action/datastore_search", payload, headers, **kargs)

In [369]:
#
# Cria um novo datastore
#
def set_datastore(data, **kargs):
    payload = json.dumps(data)

    headers = {
        'Authorization': AUTHORIZATION,
        'Content-Type': 'application/json'
    }

    return send_request("POST", "/api/3/action/datastore_create", payload, headers, **kargs)

In [370]:
def create_new_package(tabla):
    package = {
        "name": tabla['database'],
        "title": tabla['database'],
        "owner_org": "bank",
        "notes": "Base carregada por processo automatico",
        "author": "dorotheu",
        "author_email": "dorotheu@teste.com",
        "private": True,
        "extras": [
            {
                "key": "badge",
                "value": "gold"
            },
            {
                "key": "last_modified",
                "value": tabla['last_modified']
            },
            {
                "key": "path",
                "value": tabla['path']
            },
            {
                "key": "import_flag",
                "value": "{}-{}-{}".format(tabla['year'], tabla['month'], tabla['day'])
            }
        ]
    }

    return set_package(package)

In [371]:
def create_new_datastore(tabla):
    datastore = {
        "resource": {
            "package_id": tabla['database'],
            "name": tabla['database'],
            "description": "Dicionario de Dados",
            "format": "Redshift"
        },
        "fields": tabla['columns'],
    }
    
    return set_datastore(datastore)

In [372]:
#
def read_partials(key, **kargs):
    all_files = glob.glob(key)
    li = []
    for filename in all_files:
        df = pd.read_csv(filename, **kargs)
        li.append(df)

    return pd.concat(li, axis=0, ignore_index=True)

In [373]:
def index_out(data, key = 'id'):
    aux = {}
    for item in data:
        aux[item[key]] = item
    
    return aux

In [374]:
def index_in(data):
    aux = []
    for item in data:
        aux.append(data[item])
        
    return aux

# Reading

### Reading tablas

In [390]:
tablas = read_partials("tablas*.csv", delimiter=";")
tablas.head()

,environment,database,path,last_modified,year,month,day
0,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1
1,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1
2,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1
3,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200201120000,2021,2,1
4,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1

### Reading colunas

In [391]:
colunas = read_partials("colunas*.csv", delimiter=";")
colunas.head()

,environment,database,column,type,comment,year,month,day
0,production,tb_raw_mydatabase_01,coluna1,text,Exemplo de coluna,2021,1,1
1,production,tb_raw_mydatabase_01,coluna2,text,Exemplo de coluna,2021,1,1
2,production,tb_raw_mydatabase_01,coluna3,text,Exemplo de coluna,2021,1,1
3,production,tb_raw_mydatabase_01,coluna4,text,Exemplo de coluna,2021,1,1
4,production,tb_raw_mydatabase_01,coluna5,text,Exemplo de coluna,2021,1,1

# Merging

In [392]:
tablas_cols = tablas.merge(colunas, left_on=['database', 'year', 'month', 'day'], right_on=['database', 'year', 'month', 'day'], suffixes=('_left', '_right'))
tablas_cols.head(100)

,environment_left,database,path,last_modified,year,month,day,environment_right,column,type,comment
0,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna1,text,Exemplo de coluna
1,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna2,text,Exemplo de coluna
2,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna3,text,Exemplo de coluna
3,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna4,text,Exemplo de coluna
4,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna5,text,Exemplo de coluna
5,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna1,text,Exemplo de coluna
6,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna2,text,Exemplo de coluna
7,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna3,text,Exemplo de coluna
8,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna4,text,Exemplo de coluna
9,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200101120000,2021,1,1,production,coluna5,text,Exemplo de coluna
10,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna1,text,Exemplo de coluna
11,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna2,text,Exemplo de coluna
12,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna3,text,Exemplo de coluna
13,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna4,text,Exemplo de coluna
14,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200101120000,2021,1,1,production,coluna5,text,Exemplo de coluna
15,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200201120000,2021,2,1,production,coluna1,text,Exemplo de coluna
16,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200201120000,2021,2,1,production,coluna2,text,Exemplo de coluna
17,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200201120000,2021,2,1,production,coluna3,text,Exemplo de coluna
18,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200201120000,2021,2,1,production,coluna4,text,Exemplo de coluna
19,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200201120000,2021,2,1,production,coluna5,text,Exemplo de coluna
20,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna1,text,Exemplo de coluna
21,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna2,text,Exemplo de coluna
22,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna3,text,Exemplo de coluna
23,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna4,text,Exemplo de coluna
24,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200201120000,2021,2,1,production,coluna5,text,Exemplo de coluna
25,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna1,text,Exemplo de coluna
26,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna2,text,Exemplo de coluna
27,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna3,text,Exemplo de coluna
28,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna4,text,Exemplo de coluna
29,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200201120000,2021,2,1,production,coluna5,text,Exemplo de coluna
...,...,...,...,...,...,...,...,...,...,...,...
70,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna1,text,Exemplo de coluna
71,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna2,text,Exemplo de coluna
72,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna3,text,Exemplo de coluna
73,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna4,text,Exemplo de coluna
74,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200501120000,2021,5,1,production,coluna5,text,Exemplo de coluna
75,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200601120000,2021,6,1,production,coluna1,text,Exemplo de coluna
76,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200601120000,2021,6,1,production,coluna2,text,Exemplo de coluna
77,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200601120000,2021,6,1,production,coluna3,text,Exemplo de coluna
78,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200601120000,2021,6,1,production,coluna4,text,Exemplo de coluna
79,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200601120000,2021,6,1,production,coluna5,text,Exemplo de coluna
80,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna1,text,Exemplo de coluna
81,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna2,text,Exemplo de coluna
82,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna3,text,Exemplo de coluna
83,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna4,text,Exemplo de coluna
84,production,tb_raw_mydatabase_02,s3:/tb_raw_mydatabase_02,20200601120000,2021,6,1,production,coluna5,text,Exemplo de coluna
85,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna1,text,Exemplo de coluna
86,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna2,text,Exemplo de coluna
87,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna3,text,Exemplo de coluna
88,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna4,text,Exemplo de coluna
89,production,tb_raw_mydatabase_03,s3:/tb_raw_mydatabase_03,20200601120000,2021,6,1,production,coluna5,text,Exemplo de coluna
90,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna1,text,Alteracao de coluna
91,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna2,text,Alteracao de coluna
92,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna3,text,Alteracao de coluna
93,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna4,text,Alteracao de coluna
94,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna5,text,Alteracao de coluna
95,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna6,text,Alteracao de coluna
96,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna7,text,Alteracao de coluna
97,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,8,1,production,coluna1,text,Alteracao de coluna
98,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,8,1,production,coluna2,text,Alteracao de coluna
99,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,8,1,production,coluna3,text,Alteracao de coluna

### Lendo apenas as bases de interesse

In [393]:
tablas_inspect = ['tb_raw_mydatabase_01', 'tb_raw_mydatabase_02', 'tb_raw_mydatabase_03']
tablas_inspect    = tablas_cols.loc[tablas_cols.database.isin(tablas_inspect)]
tablas_inspect.head()

,environment_left,database,path,last_modified,year,month,day,environment_right,column,type,comment
0,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna1,text,Exemplo de coluna
1,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna2,text,Exemplo de coluna
2,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna3,text,Exemplo de coluna
3,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna4,text,Exemplo de coluna
4,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna5,text,Exemplo de coluna

In [394]:
df_tablas = tablas_inspect

### Lendo os pacotes ja carregados no CKAN

In [395]:
# Lendo as bases ja existentes do catalogo

databases      = df_tablas.database.unique().tolist()
databases_aux  = df_tablas.database.unique().tolist()
ckan_databases = {}

for database in databases_aux:
    response = get_package(database)
    if "success" in response and response["success"] == True:
        logging.info(f"Tabla {database} ja cadastrada no ckan!")
        ckan_databases[database] = response["result"]
        databases.remove(database)

2021-04-30 20:53:50,780 - root - INFO - Request: type: POST, endpoint: /api/3/action/package_show
2021-04-30 20:53:50,781 - root - DEBUG - {"id": "tb_raw_mydatabase_01"}
2021-04-30 20:53:50,782 - root - DEBUG - {'Authorization': '0090ee76-cc91-4956-ab94-616b0ddaa1c9', 'Content-Type': 'application/json'}
2021-04-30 20:53:50,940 - root - WARNING - Conexao ao endpoint /api/3/action/package_show com falha! Iniciando nova tentativa (3 restantes)
2021-04-30 20:53:50,942 - root - INFO - Request: type: POST, endpoint: /api/3/action/package_show
2021-04-30 20:53:50,942 - root - DEBUG - {"id": "tb_raw_mydatabase_01"}
2021-04-30 20:53:50,943 - root - DEBUG - {'Authorization': '0090ee76-cc91-4956-ab94-616b0ddaa1c9', 'Content-Type': 'application/json'}
2021-04-30 20:53:51,289 - root - DEBUG - response: {"help": "http://18.219.144.92/api/3/action/help_show?name=package_show", "success": true, "result": {"author": "dorotheu", "author_email": "dorotheu@teste.com", "creator_user_id": "3541244f-6c60-497d-84ba-0aba791450e4", "id": "25690ae9-4e62-4882-a035-d457243a02e6", "isopen": false, "license_id": "", "license_title": "", "maintainer": "", "maintainer_email": "", "metadata_created": "2021-04-30T21:33:49.677310", "metadata_modified": "2021-04-30T23:52:50.003275", "name": "tb_raw_mydatabase_01", "notes": "Base carregada por processo automatico", "num_resources": 1, "num_tags": 0, "organization": {"id": "6b35db05-c162-44aa-badf-0d0c35b08814", "name": "bank", "title": "Bank", "type": "organization", "description": "", "image_url": "", "created": "2021-04-30T00:30:38.243966", "is_organization": true, "approval_status": "approved", "state": "active"}, "owner_org": "6b35db05-c162-44aa-badf-0d0c35b08814", "private": true, "state": "active", "title": "tb_raw_mydatabase_01", "type": "dataset", "url": "", "version": "", "extras": [{"key": "badge", "value": "gold"}, {"key": "import_flag", "value": "2021-7-1"}, {"key": "last_modified", "value": "20200601120000"}, {"key": "path", "value": "s3:/tb_raw_mydatabase_01"}], "resources": [{"cache_last_updated": null, "cache_url": null, "created": "2021-04-30T21:33:49.958937", "datastore_active": true, "description": "Dicionario de Dados", "format": "Redshift", "hash": "", "id": "096a0a99-accb-4a3b-9013-c693dfa164e1", "last_modified": null, "metadata_modified": "2021-04-30T23:40:09.449102", "mimetype": null, "mimetype_inner": null, "name": "tb_raw_mydatabase_01", "package_id": "25690ae9-4e62-4882-a035-d457243a02e6", "position": 0, "resource_type": null, "size": null, "state": "active", "url": "http://18.219.144.92/datastore/dump/096a0a99-accb-4a3b-9013-c693dfa164e1", "url_type": "datastore"}], "tags": [], "groups": [], "relationships_as_subject": [], "relationships_as_object": []}}
2021-04-30 20:53:51,290 - root - INFO - Tabla tb_raw_mydatabase_01 ja cadastrada no ckan!
2021-04-30 20:53:51,291 - root - INFO - Request: type: POST, endpoint: /api/3/action/package_show
2021-04-30 20:53:51,292 - root - DEBUG - {"id": "tb_raw_mydatabase_02"}
2021-04-30 20:53:51,293 - root - DEBUG - {'Authorization': '0090ee76-cc91-4956-ab94-616b0ddaa1c9', 'Content-Type': 'application/json'}
2021-04-30 20:53:51,490 - root - DEBUG - response: {"help": "http://18.219.144.92/api/3/action/help_show?name=package_show", "success": true, "result": {"author": "dorotheu", "author_email": "dorotheu@teste.com", "creator_user_id": "3541244f-6c60-497d-84ba-0aba791450e4", "id": "249a5eb9-ea10-459c-a8c7-77d9fc8000cb", "isopen": false, "license_id": "", "license_title": "", "maintainer": "", "maintainer_email": "", "metadata_created": "2021-04-30T21:33:50.399924", "metadata_modified": "2021-04-30T21:43:51.703306", "name": "tb_raw_mydatabase_02", "notes": "Base carregada por processo automatico", "num_resources": 1, "num_tags": 0, "organization": {"id": "6b35db05-c162-44aa-badf-0d0c35b08814", "name": "bank", "title": "Bank", "type": "organization", "description": "", "image_url": "", "created": "2021-04-30T00:30:38.243966", "is_organization": true, "approval_status": "approved", "state": "active"}, "owner_org": "6b35db05-c162-44aa-badf-0d0c35b08814", "private": true, "state": "active", "title": "tb_raw_mydatabase_02", "type": "dataset", "url": "", "version": "", "extras": [{"key": "badge", "value": "gold"}, {"key": "import_flag", "value": "2021-6-1"}, {"key": "last_modified", "value": "20200601120000"}, {"key": "path", "value": "s3:/tb_raw_mydatabase_02"}], "resources": [{"cache_last_updated": null, "cache_url": null, "created": "2021-04-30T21:33:50.663977", "datastore_active": true, "description": "Dicionario de Dados", "format": "Redshift", "hash": "", "id": "530dedea-7877-4d01-85c2-f2d353ba332c", "last_modified": null, "metadata_modified": "2021-04-30T21:33:50.764030", "mimetype": null, "mimetype_inner": null, "name": "tb_raw_mydatabase_02", "package_id": "249a5eb9-ea10-459c-a8c7-77d9fc8000cb", "position": 0, "resource_type": null, "size": null, "state": "active", "url": "http://18.219.144.92/datastore/dump/530dedea-7877-4d01-85c2-f2d353ba332c", "url_type": "datastore"}], "tags": [], "groups": [], "relationships_as_subject": [], "relationships_as_object": []}}
2021-04-30 20:53:51,491 - root - INFO - Tabla tb_raw_mydatabase_02 ja cadastrada no ckan!
2021-04-30 20:53:51,492 - root - INFO - Request: type: POST, endpoint: /api/3/action/package_show
2021-04-30 20:53:51,493 - root - DEBUG - {"id": "tb_raw_mydatabase_03"}
2021-04-30 20:53:51,494 - root - DEBUG - {'Authorization': '0090ee76-cc91-4956-ab94-616b0ddaa1c9', 'Content-Type': 'application/json'}
2021-04-30 20:53:51,676 - root - DEBUG - response: {"help": "http://18.219.144.92/api/3/action/help_show?name=package_show", "success": true, "result": {"author": "dorotheu", "author_email": "dorotheu@teste.com", "creator_user_id": "3541244f-6c60-497d-84ba-0aba791450e4", "id": "38a3fe8c-7507-4a19-8dc6-537b1c13a046", "isopen": false, "license_id": "", "license_title": "", "maintainer": "", "maintainer_email": "", "metadata_created": "2021-04-30T21:33:51.097299", "metadata_modified": "2021-04-30T21:43:31.120038", "name": "tb_raw_mydatabase_03", "notes": "Base carregada por processo automatico", "num_resources": 1, "num_tags": 0, "organization": {"id": "6b35db05-c162-44aa-badf-0d0c35b08814", "name": "bank", "title": "Bank", "type": "organization", "description": "", "image_url": "", "created": "2021-04-30T00:30:38.243966", "is_organization": true, "approval_status": "approved", "state": "active"}, "owner_org": "6b35db05-c162-44aa-badf-0d0c35b08814", "private": true, "state": "active", "title": "tb_raw_mydatabase_03", "type": "dataset", "url": "", "version": "", "extras": [{"key": "badge", "value": "gold"}, {"key": "import_flag", "value": "2021-6-1"}, {"key": "last_modified", "value": "20200601120000"}, {"key": "path", "value": "s3:/tb_raw_mydatabase_03"}], "resources": [{"cache_last_updated": null, "cache_url": null, "created": "2021-04-30T21:33:51.357909", "datastore_active": true, "description": "Dicionario de Dados", "format": "Redshift", "hash": "", "id": "e266700b-5910-4764-b6d7-8f0b6af69063", "last_modified": null, "metadata_modified": "2021-04-30T21:33:51.467689", "mimetype": null, "mimetype_inner": null, "name": "tb_raw_mydatabase_03", "package_id": "38a3fe8c-7507-4a19-8dc6-537b1c13a046", "position": 0, "resource_type": null, "size": null, "state": "active", "url": "http://18.219.144.92/datastore/dump/e266700b-5910-4764-b6d7-8f0b6af69063", "url_type": "datastore"}], "tags": [], "groups": [], "relationships_as_subject": [], "relationships_as_object": []}}
2021-04-30 20:53:51,678 - root - INFO - Tabla tb_raw_mydatabase_03 ja cadastrada no ckan!

# Bases novas

### Isolando as bases que ainda nao foram carregadas

In [396]:
# Para as bases que ainda nao estao inclusas no catalogo
tablas_nuevas = df_tablas.loc[~df_tablas.database.isin(ckan_databases.keys())]

### Criando o objeto de pacotes

In [397]:
# Der as tabelas disponiveis
my_tablas = {}
for tabla in databases:
    my_tablas[tabla] = {}
    
    db = df_tablas.loc[(df_tablas['database'] == tabla)]\
                    .sort_values(by=['year', 'month', 'day'], ascending=False)\
                    .reset_index(drop=True)
    
    data = json.loads(db.to_json())

    for key in data.keys():
        my_tablas[tabla][key] = data[key]['0']

logging.debug(f"Nuevas tablas: {my_tablas}")

2021-04-30 20:53:52,070 - root - DEBUG - Nuevas tablas: {}

### Carregando as colunas dentro do objeto de pacotes

In [398]:
# Lendo as colunas das tabelas disponiveis
for tabla_name in my_tablas:
    db = df_tablas.loc[(df_tablas['database'] == tabla_name)]\
                    .loc[(df_tablas['year']  == my_tablas[tabla_name]['year'])]\
                    .loc[(df_tablas['month'] == my_tablas[tabla_name]['month'])]\
                    .loc[(df_tablas['day']   == my_tablas[tabla_name]['day'])]\
                    .reset_index(drop=True)
    
    my_tablas[tabla_name]['columns'] = []

    data = json.loads(db.to_json())
    size = len(db.index)
    
    #for row in size:
    for row in range(0, size):
        my_tablas[tabla_name]['columns'].append({
            "id": data['column'][f"{row}"],
            "type": data['type'][f"{row}"],
            "info": {
                "label": data['column'][f"{row}"],
                "notes": data['comment'][f"{row}"]
            }
        })

logging.debug(f"Nuevas tablas (com culunas): {my_tablas}")

2021-04-30 20:53:52,777 - root - DEBUG - Nuevas tablas (com culunas): {}

In [399]:
for tabla_name in my_tablas:
    response_package   = create_new_package(my_tablas[tabla_name])
    response_datastore = create_new_datastore(my_tablas[tabla_name])

# Atualizando pacotes

Das bases ja carregadas, carregar as alteracoes

In [400]:
df_tablas.head()

,environment_left,database,path,last_modified,year,month,day,environment_right,column,type,comment
0,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna1,text,Exemplo de coluna
1,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna2,text,Exemplo de coluna
2,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna3,text,Exemplo de coluna
3,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna4,text,Exemplo de coluna
4,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200101120000,2021,1,1,production,coluna5,text,Exemplo de coluna

In [401]:
import_flag = ['2021', '6', '1']
df_tablas['flag'] = df_tablas['year'].astype(str) + df_tablas['month'].astype(str) + df_tablas['day'].astype(str)
db = df_tablas.loc[(df_tablas['database'] == "tb_raw_mydatabase_01")]\
                    .loc[(df_tablas['flag'] > "{}{}{}".format(import_flag[0], import_flag[1], import_flag[2]))]\
                    .sort_values(by=['year', 'month', 'day'], ascending=True)\
                    .reset_index(drop=True)

db.head(10)

,environment_left,database,path,last_modified,year,month,day,environment_right,column,type,comment,flag
0,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna1,text,Alteracao de coluna,202171
1,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna2,text,Alteracao de coluna,202171
2,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna3,text,Alteracao de coluna,202171
3,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna4,text,Alteracao de coluna,202171
4,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna5,text,Alteracao de coluna,202171
5,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna6,text,Alteracao de coluna,202171
6,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,7,1,production,coluna7,text,Alteracao de coluna,202171
7,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,8,1,production,coluna1,text,Alteracao de coluna,202181
8,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,8,1,production,coluna2,text,Alteracao de coluna,202181
9,production,tb_raw_mydatabase_01,s3:/tb_raw_mydatabase_01,20200401120000,2021,8,1,production,coluna3,text,Alteracao de coluna,202181

In [402]:
# Der as tabelas disponiveis
my_update_tablas = {}
df_tablas['flag'] = df_tablas['year'].astype(str) + df_tablas['month'].astype(str) + df_tablas['day'].astype(str)

for tabla in ckan_databases:
    import_flag = []
    
    # Le a ultima data carregada do pacote
    for extra in ckan_databases[tabla]['extras']:
        if extra['key'] == "import_flag":
            import_flag = extra['value'].split('-')
            
    # Procurando por atualizacoes nas tabelas de entrada
    db = df_tablas.loc[(df_tablas['database'] == tabla)]\
                    .loc[(df_tablas['flag'] > "{}{}{}".format(import_flag[0], import_flag[1], import_flag[2]))]\
                    .sort_values(by=['year', 'month', 'day'], ascending=True)\
                    .reset_index(drop=True)
    
    # Caso nao exista nenhuma atualizacao, entao o processo e ignorado
    if not len(db.index):
        continue
    
    my_update_tablas[tabla] = {}
    data = json.loads(db.to_json())
    
    
    # Processo de leitura do pacote a partir do arquivo
    # TODO: Processo muito parecido com o de novos pacotes, avaliar reuso
    for key in data.keys():
        my_update_tablas[tabla][key] = data[key]['0']
    

    size = len(db.index)
    my_update_tablas[tabla]['columns'] = []
    
    #for row in size:
    for row in range(0, size):
        my_update_tablas[tabla]['columns'].append({
            "id": data['column'][f"{row}"],
            "type": data['type'][f"{row}"],
            "info": {
                "label": data['column'][f"{row}"],
                "notes": data['comment'][f"{row}"]
            }
        })
    
    # Carregando o datastore dentro do pacote (ckan) para mesclagem
    for res in ckan_databases[tabla]['resources']:
        if res['format'] == "Redshift":
            response = get_datastore(res["id"])
            if response['success'] == True:
                ckan_databases[tabla]['resource_data'] = response['result']
        
    
    # Transformacao das colunas em chave, utilizada no processo de merge
    my_columns   = index_out(my_update_tablas[tabla]['columns'])
    ckan_columns = index_out(ckan_databases[tabla]['resource_data']['fields'])

    for col in ckan_columns.keys():
        if col in my_columns:
            # Campos que sao considerados exclusivamente do front (force) devem ser especificados aqui
            my_columns[col]['info']['notes'] = ckan_columns[col]['info']['notes']
    
    # Retornando os campos para o formato original
    ckan_databases[tabla]['resource_data']['fields'] = index_in(my_columns)
    
    # Deletando o datastore existente
    res = delete_datastore(ckan_databases[tabla]['resource_data']['resource_id'])
    logging.debug(f"Deletando recurso: {res}")
    
    # Criando um novo datastore com a mesclagem de campos
    # Levando em consideracao a seguinte regra:
    #     - Campos novos encontrados na origem irao ser incluidos no ckan
    #     - Campos novos do ckan nao encontrados na origem serao removidos
    #     - Campos do ckan e da origem iguais serao permanecidos, porem e considerado
    #         o label definido no ckan
    res = set_datastore(ckan_databases[tabla]['resource_data'])
    logging.debug(f"Criando recurso: {res}")
    
    # Update da tabela de pacotes
    for extra in ckan_databases[tabla]['extras']:
        if extra['key'] == "import_flag":
            extra['value'] = "{}-{}-{}".format(
                my_update_tablas[tabla]['year'],
                my_update_tablas[tabla]['month'],
                my_update_tablas[tabla]['day']
            )
           
    res = update_package(ckan_databases[tabla])
    logging.debug(f"Atualizando flag do pacote: {res}")

2021-04-30 20:53:55,780 - root - INFO - Request: type: POST, endpoint: /api/3/action/datastore_search
2021-04-30 20:53:55,782 - root - DEBUG - {"resource_id": "096a0a99-accb-4a3b-9013-c693dfa164e1"}
2021-04-30 20:53:55,783 - root - DEBUG - {'Authorization': '0090ee76-cc91-4956-ab94-616b0ddaa1c9', 'Content-Type': 'application/json'}
2021-04-30 20:53:55,964 - root - DEBUG - response: {"help": "http://18.219.144.92/api/3/action/help_show?name=datastore_search", "success": true, "result": {"include_total": true, "limit": 100, "records_format": "objects", "resource_id": "096a0a99-accb-4a3b-9013-c693dfa164e1", "total_estimation_threshold": null, "records": [], "fields": [{"id": "_id", "type": "int"}, {"id": "coluna1", "type": "text", "info": {"label": "coluna1", "notes": "Overpower"}}, {"id": "coluna2", "type": "text", "info": {"label": "coluna2", "notes": "Alteracao de coluna"}}, {"id": "coluna3", "type": "text", "info": {"label": "coluna3", "notes": "Alteracao de coluna"}}, {"id": "coluna4", "type": "text", "info": {"label": "coluna4", "notes": "Alteracao de coluna"}}, {"id": "coluna5", "type": "text", "info": {"label": "coluna5", "notes": "Alteracao de coluna"}}, {"id": "coluna6", "type": "text", "info": {"label": "coluna6", "notes": "Alteracao de coluna"}}, {"id": "coluna7", "type": "text", "info": {"label": "coluna7", "notes": "Alteracao de coluna"}}], "_links": {"start": "/api/3/action/datastore_search", "next": "/api/3/action/datastore_search?offset=100"}, "total": 0, "total_was_estimated": false}}
2021-04-30 20:53:55,965 - root - INFO - Request: type: POST, endpoint: /api/3/action/datastore_delete
2021-04-30 20:53:55,966 - root - DEBUG - {"resource_id": "096a0a99-accb-4a3b-9013-c693dfa164e1"}
2021-04-30 20:53:55,967 - root - DEBUG - {'Authorization': '0090ee76-cc91-4956-ab94-616b0ddaa1c9', 'Content-Type': 'application/json'}
2021-04-30 20:53:56,222 - root - DEBUG - response: {"help": "http://18.219.144.92/api/3/action/help_show?name=datastore_delete", "success": true, "result": {"resource_id": "096a0a99-accb-4a3b-9013-c693dfa164e1"}}
2021-04-30 20:53:56,223 - root - DEBUG - Deletando recurso: {'help': 'http://18.219.144.92/api/3/action/help_show?name=datastore_delete', 'success': True, 'result': {'resource_id': '096a0a99-accb-4a3b-9013-c693dfa164e1'}}
2021-04-30 20:53:56,225 - root - INFO - Request: type: POST, endpoint: /api/3/action/datastore_create
2021-04-30 20:53:56,225 - root - DEBUG - {"include_total": true, "limit": 100, "records_format": "objects", "resource_id": "096a0a99-accb-4a3b-9013-c693dfa164e1", "total_estimation_threshold": null, "records": [], "fields": [{"id": "coluna1", "type": "text", "info": {"label": "coluna1", "notes": "Overpower"}}, {"id": "coluna2", "type": "text", "info": {"label": "coluna2", "notes": "Alteracao de coluna"}}, {"id": "coluna3", "type": "text", "info": {"label": "coluna3", "notes": "Alteracao de coluna"}}, {"id": "coluna4", "type": "text", "info": {"label": "coluna4", "notes": "Alteracao de coluna"}}, {"id": "coluna5", "type": "text", "info": {"label": "coluna5", "notes": "Alteracao de coluna"}}, {"id": "coluna6", "type": "text", "info": {"label": "coluna6", "notes": "Alteracao de coluna"}}, {"id": "coluna7", "type": "text", "info": {"label": "coluna7", "notes": "Alteracao de coluna"}}, {"id": "coluna8", "type": "text", "info": {"label": "coluna8", "notes": "Nova coluna        "}}], "_links": {"start": "/api/3/action/datastore_search", "next": "/api/3/action/datastore_search?offset=100"}, "total": 0, "total_was_estimated": false}
2021-04-30 20:53:56,226 - root - DEBUG - {'Authorization': '0090ee76-cc91-4956-ab94-616b0ddaa1c9', 'Content-Type': 'application/json'}
2021-04-30 20:53:56,514 - root - DEBUG - response: {"help": "http://18.219.144.92/api/3/action/help_show?name=datastore_create", "success": true, "result": {"__extras": {"include_total": true, "limit": 100, "records_format": "objects", "total_estimation_threshold": null, "_links": {"start": "/api/3/action/datastore_search", "next": "/api/3/action/datastore_search?offset=100"}, "total": 0, "total_was_estimated": false}, "resource_id": "096a0a99-accb-4a3b-9013-c693dfa164e1", "fields": [{"id": "coluna1", "info": {"label": "coluna1", "notes": "Overpower"}, "type": "text"}, {"id": "coluna2", "info": {"label": "coluna2", "notes": "Alteracao de coluna"}, "type": "text"}, {"id": "coluna3", "info": {"label": "coluna3", "notes": "Alteracao de coluna"}, "type": "text"}, {"id": "coluna4", "info": {"label": "coluna4", "notes": "Alteracao de coluna"}, "type": "text"}, {"id": "coluna5", "info": {"label": "coluna5", "notes": "Alteracao de coluna"}, "type": "text"}, {"id": "coluna6", "info": {"label": "coluna6", "notes": "Alteracao de coluna"}, "type": "text"}, {"id": "coluna7", "info": {"label": "coluna7", "notes": "Alteracao de coluna"}, "type": "text"}, {"id": "coluna8", "info": {"label": "coluna8", "notes": "Nova coluna        "}, "type": "text"}], "method": "insert"}}
2021-04-30 20:53:56,515 - root - DEBUG - Criando recurso: {'help': 'http://18.219.144.92/api/3/action/help_show?name=datastore_create', 'success': True, 'result': {'__extras': {'include_total': True, 'limit': 100, 'records_format': 'objects', 'total_estimation_threshold': None, '_links': {'start': '/api/3/action/datastore_search', 'next': '/api/3/action/datastore_search?offset=100'}, 'total': 0, 'total_was_estimated': False}, 'resource_id': '096a0a99-accb-4a3b-9013-c693dfa164e1', 'fields': [{'id': 'coluna1', 'info': {'label': 'coluna1', 'notes': 'Overpower'}, 'type': 'text'}, {'id': 'coluna2', 'info': {'label': 'coluna2', 'notes': 'Alteracao de coluna'}, 'type': 'text'}, {'id': 'coluna3', 'info': {'label': 'coluna3', 'notes': 'Alteracao de coluna'}, 'type': 'text'}, {'id': 'coluna4', 'info': {'label': 'coluna4', 'notes': 'Alteracao de coluna'}, 'type': 'text'}, {'id': 'coluna5', 'info': {'label': 'coluna5', 'notes': 'Alteracao de coluna'}, 'type': 'text'}, {'id': 'coluna6', 'info': {'label': 'coluna6', 'notes': 'Alteracao de coluna'}, 'type': 'text'}, {'id': 'coluna7', 'info': {'label': 'coluna7', 'notes': 'Alteracao de coluna'}, 'type': 'text'}, {'id': 'coluna8', 'info': {'label': 'coluna8', 'notes': 'Nova coluna        '}, 'type': 'text'}], 'method': 'insert'}}
2021-04-30 20:53:56,517 - root - INFO - Request: type: POST, endpoint: /api/3/action/package_update
2021-04-30 20:53:56,518 - root - DEBUG - {"author": "dorotheu", "author_email": "dorotheu@teste.com", "creator_user_id": "3541244f-6c60-497d-84ba-0aba791450e4", "id": "25690ae9-4e62-4882-a035-d457243a02e6", "isopen": false, "license_id": "", "license_title": "", "maintainer": "", "maintainer_email": "", "metadata_created": "2021-04-30T21:33:49.677310", "metadata_modified": "2021-04-30T23:52:50.003275", "name": "tb_raw_mydatabase_01", "notes": "Base carregada por processo automatico", "num_resources": 1, "num_tags": 0, "organization": {"id": "6b35db05-c162-44aa-badf-0d0c35b08814", "name": "bank", "title": "Bank", "type": "organization", "description": "", "image_url": "", "created": "2021-04-30T00:30:38.243966", "is_organization": true, "approval_status": "approved", "state": "active"}, "owner_org": "6b35db05-c162-44aa-badf-0d0c35b08814", "private": true, "state": "active", "title": "tb_raw_mydatabase_01", "type": "dataset", "url": "", "version": "", "extras": [{"key": "badge", "value": "gold"}, {"key": "import_flag", "value": "2021-8-1"}, {"key": "last_modified", "value": "20200601120000"}, {"key": "path", "value": "s3:/tb_raw_mydatabase_01"}], "resources": [{"cache_last_updated": null, "cache_url": null, "created": "2021-04-30T21:33:49.958937", "datastore_active": true, "description": "Dicionario de Dados", "format": "Redshift", "hash": "", "id": "096a0a99-accb-4a3b-9013-c693dfa164e1", "last_modified": null, "metadata_modified": "2021-04-30T23:40:09.449102", "mimetype": null, "mimetype_inner": null, "name": "tb_raw_mydatabase_01", "package_id": "25690ae9-4e62-4882-a035-d457243a02e6", "position": 0, "resource_type": null, "size": null, "state": "active", "url": "http://18.219.144.92/datastore/dump/096a0a99-accb-4a3b-9013-c693dfa164e1", "url_type": "datastore"}], "tags": [], "groups": [], "relationships_as_subject": [], "relationships_as_object": [], "resource_data": {"include_total": true, "limit": 100, "records_format": "objects", "resource_id": "096a0a99-accb-4a3b-9013-c693dfa164e1", "total_estimation_threshold": null, "records": [], "fields": [{"id": "coluna1", "type": "text", "info": {"label": "coluna1", "notes": "Overpower"}}, {"id": "coluna2", "type": "text", "info": {"label": "coluna2", "notes": "Alteracao de coluna"}}, {"id": "coluna3", "type": "text", "info": {"label": "coluna3", "notes": "Alteracao de coluna"}}, {"id": "coluna4", "type": "text", "info": {"label": "coluna4", "notes": "Alteracao de coluna"}}, {"id": "coluna5", "type": "text", "info": {"label": "coluna5", "notes": "Alteracao de coluna"}}, {"id": "coluna6", "type": "text", "info": {"label": "coluna6", "notes": "Alteracao de coluna"}}, {"id": "coluna7", "type": "text", "info": {"label": "coluna7", "notes": "Alteracao de coluna"}}, {"id": "coluna8", "type": "text", "info": {"label": "coluna8", "notes": "Nova coluna        "}}], "_links": {"start": "/api/3/action/datastore_search", "next": "/api/3/action/datastore_search?offset=100"}, "total": 0, "total_was_estimated": false}}

2021-04-30 20:53:56,520 - root - DEBUG - {'Authorization': '0090ee76-cc91-4956-ab94-616b0ddaa1c9', 'Content-Type': 'application/json'}
2021-04-30 20:53:56,784 - root - DEBUG - response: {"help": "http://18.219.144.92/api/3/action/help_show?name=package_update", "success": true, "result": {"author": "dorotheu", "author_email": "dorotheu@teste.com", "creator_user_id": "3541244f-6c60-497d-84ba-0aba791450e4", "id": "25690ae9-4e62-4882-a035-d457243a02e6", "isopen": false, "license_id": "", "license_title": "", "maintainer": "", "maintainer_email": "", "metadata_created": "2021-04-30T21:33:49.677310", "metadata_modified": "2021-04-30T23:53:57.104262", "name": "tb_raw_mydatabase_01", "notes": "Base carregada por processo automatico", "num_resources": 1, "num_tags": 0, "organization": {"id": "6b35db05-c162-44aa-badf-0d0c35b08814", "name": "bank", "title": "Bank", "type": "organization", "description": "", "image_url": "", "created": "2021-04-30T00:30:38.243966", "is_organization": true, "approval_status": "approved", "state": "active"}, "owner_org": "6b35db05-c162-44aa-badf-0d0c35b08814", "private": true, "state": "active", "title": "tb_raw_mydatabase_01", "type": "dataset", "url": "", "version": "", "extras": [{"key": "badge", "value": "gold"}, {"key": "import_flag", "value": "2021-8-1"}, {"key": "last_modified", "value": "20200601120000"}, {"key": "path", "value": "s3:/tb_raw_mydatabase_01"}], "resources": [{"cache_last_updated": null, "cache_url": null, "created": "2021-04-30T21:33:49.958937", "datastore_active": true, "description": "Dicionario de Dados", "format": "Redshift", "hash": "", "id": "096a0a99-accb-4a3b-9013-c693dfa164e1", "last_modified": null, "metadata_modified": "2021-04-30T23:40:09.449102", "mimetype": null, "mimetype_inner": null, "name": "tb_raw_mydatabase_01", "package_id": "25690ae9-4e62-4882-a035-d457243a02e6", "position": 0, "resource_type": null, "size": null, "state": "active", "url": "http://18.219.144.92/datastore/dump/096a0a99-accb-4a3b-9013-c693dfa164e1", "url_type": "datastore"}], "tags": [], "groups": [], "relationships_as_subject": [], "relationships_as_object": []}}
2021-04-30 20:53:56,785 - root - DEBUG - Atualizando flag do pacote: {'help': 'http://18.219.144.92/api/3/action/help_show?name=package_update', 'success': True, 'result': {'author': 'dorotheu', 'author_email': 'dorotheu@teste.com', 'creator_user_id': '3541244f-6c60-497d-84ba-0aba791450e4', 'id': '25690ae9-4e62-4882-a035-d457243a02e6', 'isopen': False, 'license_id': '', 'license_title': '', 'maintainer': '', 'maintainer_email': '', 'metadata_created': '2021-04-30T21:33:49.677310', 'metadata_modified': '2021-04-30T23:53:57.104262', 'name': 'tb_raw_mydatabase_01', 'notes': 'Base carregada por processo automatico', 'num_resources': 1, 'num_tags': 0, 'organization': {'id': '6b35db05-c162-44aa-badf-0d0c35b08814', 'name': 'bank', 'title': 'Bank', 'type': 'organization', 'description': '', 'image_url': '', 'created': '2021-04-30T00:30:38.243966', 'is_organization': True, 'approval_status': 'approved', 'state': 'active'}, 'owner_org': '6b35db05-c162-44aa-badf-0d0c35b08814', 'private': True, 'state': 'active', 'title': 'tb_raw_mydatabase_01', 'type': 'dataset', 'url': '', 'version': '', 'extras': [{'key': 'badge', 'value': 'gold'}, {'key': 'import_flag', 'value': '2021-8-1'}, {'key': 'last_modified', 'value': '20200601120000'}, {'key': 'path', 'value': 's3:/tb_raw_mydatabase_01'}], 'resources': [{'cache_last_updated': None, 'cache_url': None, 'created': '2021-04-30T21:33:49.958937', 'datastore_active': True, 'description': 'Dicionario de Dados', 'format': 'Redshift', 'hash': '', 'id': '096a0a99-accb-4a3b-9013-c693dfa164e1', 'last_modified': None, 'metadata_modified': '2021-04-30T23:40:09.449102', 'mimetype': None, 'mimetype_inner': None, 'name': 'tb_raw_mydatabase_01', 'package_id': '25690ae9-4e62-4882-a035-d457243a02e6', 'position': 0, 'resource_type': None, 'size': None, 'state': 'active', 'url': 'http://18.219.144.92/datastore/dump/096a0a99-accb-4a3b-9013-c693dfa164e1', 'url_type': 'datastore'}], 'tags': [], 'groups': [], 'relationships_as_subject': [], 'relationships_as_object': []}}